/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Hheading1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins-Light;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
}

.Hheading2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins-Light;
  color: white;

  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logoimg,
.logoimg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins-SemiBold;
  color: white;

  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.Hheading span:hover,
.Hheading1 span:hover,
.Hheading2 span:hover {
  color: rgb(183, 183, 183);
}

.Hheading,
.Hheading1,
.Hheading2 {
  width: auto;
  height: auto;
  cursor: pointer;
}

.Home-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(74, 74, 74);
  position: fixed;
  padding-top: 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 3;
  top: 0px;
  margin-top: 0px;
}

.HH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(74, 74, 74);
  z-index: 3;
}

.logoimg2 {
  display: none;
}

@media screen and (max-width: 1483px) {
  .Hheading1 {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
  }
}

@media screen and (max-width: 1034px) {
  .logoimg2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Poppins-SemiBold;
    color: white;

    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    -webkit-transform: scale(0.7);

    -ms-transform: scale(0.7);

    transform: scale(0.7);
  }

  .logoimg {
    display: none;
  }
}
@media screen and (max-width: 694px) {
  .Hheading2,
  .Hheading1 {
    display: none;
  }

  .Hheading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Poppins-Light;
    color: white;

    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.About {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  margin-top: 10vh;
}

.titleA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

.abouttxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.abouttxt {
  margin-top: 30% !important;
}

.titleandtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.RaghavVaibhavHerugu {
  margin: auto 30px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.st {
  height: 10vh;
  z-index: -99999;
  width: 100%;
  background-color: transparent;
}
.Awrapp {
  width: 90%;
}
#fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.RaghavVaibhavHerugu {
  width: 290px;
}

.Awrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}
.divflex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.About {
  overflow-y: scroll !important;
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}

.Awrapp {
  overflow-y: scroll !important;
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}
.abouttxt {
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  min-width: 50% !important;
  width: 50%;
  margin-top: 50% !important;
}

@media screen and (max-width: 1047px) {
  .divflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .abouttxt {
    margin-top: 300% !important;
  }
}

@media screen and (max-height: 1090px) {
  .abouttxt {
    margin-top: 60%;
  }
}
@media screen and (max-height: 925px) {
  .abouttxt {
    margin-top: 80% !important;
  }
}
@media screen and (max-height: 817px) {
  .abouttxt {
    margin-top: 90% !important;
  }
}

@media screen and (max-width: 1491px) {
  .abouttxt {
    margin-top: 110%;
  }
}
@media screen and (max-width: 1269px) {
  .abouttxt {
    margin-top: 140%;
  }
}

@media screen and (max-width: 1912px) {
  .abouttxt {
    margin-top: 70% !important;
  }
}

@media screen and (max-height: 683px) {
  .abouttxt {
    margin-top: 200% !important;
  }
}

@media screen and (max-height: 767px), (max-width: 475px) {
  .abouttxt {
    margin-top: 1100% !important;
  }
}

@media screen and (height: 1024px), (width: 768px) {
  .abouttxt {
    margin-top: 400% !important;
  }
}

@media screen and (height: 1366px), (width: 1024px) {
  .abouttxt {
    margin-top: 250% !important;
  }
}

@media screen and (height: 900px), (width: 1440px) {
  .abouttxt {
    margin-top: 100% !important;
  }
}

@media screen and (height: 800px), (width: 1280px) {
  .abouttxt {
    margin-top: 130% !important;
  }
}

@media screen and (height: 1280px), (width: 800px) {
  .abouttxt {
    margin-top: 330% !important;
  }
}

@media screen and (height: 640px), (width: 360px) {
  .abouttxt {
    margin-top: 1230% !important;
  }
}

@media screen and (height: 960px), (width: 600px) {
  .abouttxt {
    margin-top: 530% !important;
  }
}

@media screen and (height: 854px), (width: 480px) {
  .abouttxt {
    margin-top: 730% !important;
  }
}
