/*


UN COMMENT TO EDIT!!


*/

.section1 {
  width: 50%;
  height: 100vh;
  position: absolute;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Description {
  width: 89%;
  word-wrap: break-word;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  right: 0;
  position: absolute;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1);
}

.section2 h6 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .customval {
//   position: absolute;
//   top: 30%;
//   left: 50%;
//   transform: translate(-50%, -30%);
//   font-size: 30px;
// }

.inputprice {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.goback {
  position: absolute;
  margin: 30px;

  cursor: pointer;
  z-index: 909090;
  transition: margin-left 0.3s;
}
.goback:hover {
  color: rgb(0, 91, 144);
  margin-left: 27px;
}

@media screen and (max-width: 1207px) {
  .Title {
    font-size: 15px;
  }
  .Description {
    font-size: 10px;
  }
}

@media screen and (max-width: 571px) {
  .Title {
    font-size: 12px;
  }
  .Description {
    font-size: 8px;
  }
  .PhoneNumber {
    font-size: 7px;
  }
}

#back {
  transform: scale(0.7);
}

.logoimgfordabuy {
  width: 300px;
}
