/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.typagraphywrap,
.content {
  word-wrap: break-word;
}

@media screen and (max-width: 642px), (max-height: 755px) {
  #Cardoo {
    height: 220px;
    overflow: scroll;
  }
  .at {
    overflow: scroll;
  }
}
