/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 99999 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.typagraphywrap,
.content {
  word-wrap: break-word;
}

@media screen and (max-width: 642px), (max-height: 755px) {
  #Cardoo {
    height: 220px;
    overflow: scroll;
  }
  .at {
    overflow: scroll;
  }
}

#cardWrapper::-webkit-scrollbar,
#Cardoo::-webkit-scrollbar {
  display: none !important;
}

.btn {
  display: flex;
  flex-direction: row;
}

.cardBtn {
  width: 170px;
  height: 35px;
}

#cardWrapper {
  border: 1.89px solid black;
  margin: 30px 30px auto;
  border-radius: 5px;
  width: 90%;
  padding: 19px 9px;
}

.cardBtn {
  margin: auto !important;
}

.buybtncard {
  margin-right: 30px;
}

.content {
  margin: auto 0px 10px;
}

#Cardoo {
  width: 100% !important;
  height: fit-content;
}

.MediaCared1 {
  height: fit-content !important;
}

.CardTooltip {
  width: 500px !important;
  text-align: center;
}
