.CL {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
.Autocomplete,
select,
textarea,
input[type="password"] {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"],
input[type="button"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.logoimgCL {
  position: fixed;
  left: 0px;
  top: 15px;
}

.formCL {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-height: 739px) {
  .titleCol {
    display: none;
  }
}

@media screen and (max-height: 513px) {
  .formCL {
    margin-top: 80px;
  }
}

@media screen and (max-height: 464px) {
  .formCL {
    transform: scale(0.6);
  }
  .logoimg2 {
    transform: scale(0.6);
  }
}
