@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#000000, #ffe593, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  background-color: rgba(103, 217, 255, 0.046);
  &:focus {
    outline: 0.00000000000000000000000000001px #55d7dc;
  }
}
//end btn styling

.mainbutton {
  margin-top: 100px;
  font-size: 20px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes back {
  0% {
    opacity: 0;
    .half1 {
      -webkit-transform: translate(-19.5em, 0);
      -moz-transform: translate(-19.5em, 0);
      -o-transform: translate(-19.5em, 0);
      -ms-transform: translate(-19.5em, 0);
      transform: translate(-19.5em, 0);
      opacity: 0;
    }
    .half {
      -webkit-transform: translate(9em, 0);
      -moz-transform: translate(9em, 0);
      -o-transform: translate(9em, 0);
      -ms-transform: translate(9em, 0);
      transform: translate(9em, 0);
      opacity: 0;
    }
  }
  100% {
    opacity: 1;
    .half {
      -webkit-transform: translate(-19.5em, 0);
      -moz-transform: translate(-19.5em, 0);
      -o-transform: translate(-19.5em, 0);
      -ms-transform: translate(-19.5em, 0);
      transform: translate(-19.5em, 0);
      opacity: 1;
    }
    .half1 {
      -webkit-transform: translate(9em, 0);
      -moz-transform: translate(9em, 0);
      -o-transform: translate(9em, 0);
      -ms-transform: translate(9em, 0);
      transform: translate(9em, 0);
      opacity: 1;
    }
  }
}

.mainbutton:hover {
  .half {
    -webkit-transform: translate(9em, 0);
    -moz-transform: translate(9em, 0);
    -o-transform: translate(9em, 0);
    -ms-transform: translate(9em, 0);
    transform: translate(9em, 0);
    animation: fade-out 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}
.mainbutton:hover {
  .half1 {
    -webkit-transform: translate(-19.5em, 0);
    -moz-transform: translate(-19.5em, 0);
    -o-transform: translate(-19.5em, 0);
    -ms-transform: translate(-19.5em, 0);
    transform: translate(-19.5em, 0);
    animation: fade-out 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.half,
.half1 {
  position: absolute;
  background: rgb(136, 158, 241);
  background: linear-gradient(
    83deg,
    rgba(136, 158, 241, 1) 0%,
    rgba(99, 229, 253, 1) 100%
  );
  width: 170px;
  height: 30px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;

  animation: fade-in 1s ease-in-out;

  animation: back 1s ease-in-out;
}

.half1 {
  margin-top: 30px;
}
