@import "fonts.css";

* {
  font-family: Poppins-Regular;
}

.Hheading1 {
  display: flex;
  font-family: Poppins-Light;
  color: white;
  justify-content: center;
  cursor: pointer;
  flex: 0.2;
}

.Hheading2 {
  display: flex;
  font-family: Poppins-Light;
  color: white;

  cursor: pointer;
  flex: 1;
  float: left;
  justify-content: flex-end;
}

.logoimg,
.logoimg2 {
  display: flex;
  font-family: Poppins-SemiBold;
  color: white;

  cursor: pointer;
  flex: 1;
  float: left;
  justify-content: flex-start;
}

.Hheading span:hover,
.Hheading1 span:hover,
.Hheading2 span:hover {
  color: rgb(183, 183, 183);
}

.Hheading,
.Hheading1,
.Hheading2 {
  width: auto;
  height: auto;
  cursor: pointer;
}

.Home-Header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(74, 74, 74);
  position: fixed;
  padding-top: 0px;
  justify-content: space-between;
  z-index: 3;
}

.HH {
  display: flex;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(74, 74, 74);
  z-index: 3;
}

.logoimg2 {
  display: none;
}

@media screen and (max-width: 1483px) {
  .Hheading1 {
    flex: 0.5;
  }
}

@media screen and (max-width: 1034px) {
  .logoimg2 {
    display: flex;
    font-family: Poppins-SemiBold;
    color: white;

    cursor: pointer;
    flex: 1;
    float: left;
    justify-content: flex-start;

    transform: scale(0.7);
  }

  .logoimg {
    display: none;
  }
}
@media screen and (max-width: 694px) {
  .Hheading2,
  .Hheading1 {
    display: none;
  }

  .Hheading {
    display: flex;
    font-family: Poppins-Light;
    color: white;

    cursor: pointer;
    flex: 1;
    float: left;
    justify-content: flex-start;
  }
}

.Home {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bgcover {
  background-color: white;
  position: absolute;
  margin-top: 100vh;
  z-index: 0;
}

.textloop {
  font-family: Poppins-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #fff;
}

.textloop2 {
  font-family: Poppins-Regular;
  font-size: 37px;
  color: #fff;
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  background: #52a0fd;
  background: -moz-linear-gradient(left, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  background: -webkit-linear-gradient(
    left,
    #52a0fd 0%,
    #00e2fa 80%,
    #00e2fa 100%
  );
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}
.bg-gradient2 span,
.bg-gradient2:before {
  background: #44ea76;
  background: -moz-linear-gradient(left, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  background: -webkit-linear-gradient(
    left,
    #44ea76 0%,
    #39fad7 80%,
    #39fad7 100%
  );
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
}
.bg-gradient3 span,
.bg-gradient3:before {
  background: #fa6c9f;
  background: -moz-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
  background: -webkit-linear-gradient(
    left,
    #fa6c9f 0%,
    #ffe140 80%,
    #ffe140 100%
  );
  background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}
/* General */
.wrapper {
  margin: 5% auto;
  text-align: center;
  transform-style: perserve-3d;
  perspecive: 800px;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 30px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.fancy-button:before {
  content: "";
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  border-radius: 30em;
  filter: blur(20px) brightness(0.95);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -1px;
  margin-right: 20px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: inline-block;
  padding: 18px 60px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus,
.fancy-button:active {
  color: #fff;
}
.fancy-button:hover {
  color: #fff;
}
.fancy-button:hover span {
  filter: brightness(1.05) contrast(1.05);
  transform: scale(0.95);
}
.fancy-button:hover:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(20px);
}
.fancy-button.pop-onhover:hover span {
  transform: scale(1.04);
}
.fancy-button.pop-onhover:hover:active span {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.15s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(10px) brightness(0.95);
  transition: all 0.2s ease-out;
}

.mainbutton span {
  cursor: pointer;
}
.mainbutton {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.slideshowbg {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 17s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(./Assets/homebg.jpg);
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
}

@keyframes slideBg {
  0% {
    background-image: url(./Assets/homebg.jpg);
  }
  20% {
    background-image: url(./Assets/homebg2.jpg);
  }
  40% {
    background-image: url(./Assets/bg.jpg);
  }
  60% {
    background-image: url(./Assets/homebg3.jpg);
  }
  80% {
    background-image: url(./Assets/homebg4.jpg);
  }
  100% {
    background-image: url(./Assets/homebg.jpg);
  }
}

.parentvid {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.parentvid1 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.video {
  width: 80vh;
  height: 45vh;
}

.textvid {
  width: 42.6%;
  display: flex;
  margin: auto;
  flex: 1;
  margin-bottom: 100px;
  text-align: center;
}

.Available {
  display: none;
}
.phoneimg {
  display: none;
}

.terms {
  cursor: pointer;
  margin-left: 25px;
  font-family: Poppins-Black;
  color: white;
}
.terms1 {
  margin-left: 25px;
  font-family: Poppins-Black;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  margin-bottom: 11px;
  /* left: 90%;
  transform: translate(-90%); */
  left: 90%;
  width: auto;
  right: 0px;
}

.footerlabel {
  font-family: Poppins-Medium;
  color: white;
}

.footerinput {
  width: auto;
}

.app-form-group {
  margin-bottom: 15px;
  color: white;
}

.app-form-group.message {
  margin-top: 40px;
  color: white;
}

.app-form-group.buttons {
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.facebook:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.instagram:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.linkedin:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.facebook:active {
  transform: translate(1px, 1px);
}

.instagram:active {
  transform: translate(1px, 1px);
}

.linkedin:active {
  transform: translate(1px, 1px);
}

.home-footer {
  width: 100%;
  height: 25vh;
  display: flex;
  bottom: 0%;
  margin-top: 100px;
  background-color: rgb(74, 74, 74);
  flex-direction: column;
  margin-bottom: 0px;
}

.logoimage2 {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logoandterms {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2218px) {
  .screen {
    height: 310px;
  }
  .app-contact {
    margin-top: 100px;
  }
  .app-form-group.message {
    height: 30px;
    margin-top: 0px;
  }
  .app-form-button {
    margin: 0px;
    margin-top: 30px;
  }
  .home-footer {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1756px) {
  .app-title,
  .app-form {
    position: absolute;
    top: 60px;
  }
}

@media screen and (max-width: 1576px) {
  .app-form {
    right: 30px;
  }
}

@media screen and (max-width: 1450px) {
  .app-title {
    font-size: 20px;
  }
}

.contactus {
  width: 25%;
  position: absolute;
  margin-top: 3.125vh;
  right: 5%;
  transform: translate(-5%);
}
