@import "fonts.css";

.Home {
  text-align: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.bgcover {
  width: 100%;
  height: auto;
  background-image: url(Assets/bgcover.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.firstbgcover {
  background-image: url(Assets/bgcover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 100;
  height: 10vh;
  width: 100%;
  background: rgb(74, 74, 74);
  background-attachment: fixed;
  top: 0px;
  z-index: 1;
  position: fixed;
}

.main {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.Home-headerP {
  background-attachment: fixed;
  background-color: white;
}
.textloop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -220%);
  color: #fff;
  animation: mainanimation 1s ease-in-out;
}

.subtitle {
  font-family: OpenSansCondensed;
  background: -webkit-linear-gradient(#f0f9ff 99%, #ff4136);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@font-face {
  font-family: "OpenSansCondensed";
  src: local("OpenSansCondensed"),
    url(./open-sans-condensed/OpenSans-CondBold.ttf) format("truetype");
}

.App-link {
  color: #61dafb;
}
.tabs {
  margin-top: 15px;
  flex-direction: row;
  flex: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.logoimg {
  position: fixed;
  left: 0px;
  top: 15px;
  transition: left 0.7s ease;
  cursor: pointer;
}

.logoimg:hover {
  left: 23px;
}

.butn {
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: cornflowerblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 30%);
  z-index: 0;
  animation: mainanimation 1s ease-in-out;
}
.span {
  transition: all 0.3s;
  tranform: scale(1, 1);
  z-index: 1;
  font-family: Poppins-Light;
}

.butn::before,
.butn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-four:hover span {
  transform: scale(1.2, 1.2);
}

.btn-four::before {
  opacity: 0;
  background: rgba(237, 152, 15, 0.998);
  transform: scale(0.1, 0.1);
}

.btn-four:hover::before {
  opacity: 0.5;
  z-index: -1;
  transform: scale(1, 1);
}

.btn-four::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.btn-four:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}
.logoimage {
  width: 370px;
}

.navtabs,
.navtabsL {
  background-color: transparent;
  text-align: center;
  outline: none;
  font-size: 24px;
  font-family: Poppins-Regular;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  margin-top: 33px;
  color: white;
}
.navtabs:hover,
.navtabsL:hover {
  color: rgb(183, 183, 183);
}
.navtabs:focus,
.navtabsL:hover {
  outline: 0;
}
.navtabs:active,
.navtabsL:active {
  color: rgb(103, 103, 103);
}

#btnspan {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Poppins-Light;
}

.navtabsL {
  position: absolute;
  margin-left: 1350px;
}
.divider {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  margin-left: 1280px;
  width: 1px;
  height: 80px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
}
.slideshowbg {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 17s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(./Assets/homebg.jpg);
  background-attachment: fixed;
  position: absolute;
}

@keyframes slideBg {
  0% {
    background-image: url(./Assets/homebg.jpg);
  }
  20% {
    background-image: url(./Assets/homebg2.jpg);
  }
  40% {
    background-image: url(./Assets/bg.jpg);
  }
  60% {
    background-image: url(./Assets/homebg3.jpg);
  }
  80% {
    background-image: url(./Assets/homebg4.jpg);
  }
  100% {
    background-image: url(./Assets/homebg.jpg);
  }
}

@media screen and (max-width: 1024px) {
  * {
    flex-direction: column;
    text-align: center;
  }
  .logoimg {
    margin-top: 150px;
    filter: drop-shadow(5px 5px 15px #323232);
  }
  .Home-header {
    background-color: white;
  }
  .navtabsL {
    background-color: white;
    text-align: center;
    outline: none;
    font-size: 24px;
    font-family: Poppins-Regular;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    margin-top: 33px;
    margin-left: 480px;
  }
  .navtabsL,
  .navtabs {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .tabs {
    position: absolute;
    text-align: center;
  }
}

.ICG {
  font-family: Poppins-SemiBold;
}

.WWA {
  background: -webkit-linear-gradient(rgb(61, 61, 61), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins-SemiBold;
  animation: mainanimation 1s ease-in-out;
}

@keyframes mainanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video {
  text-align: center;
  margin: 0 auto;
  width: 80vh;
  height: 45vh;
  position: absolute;
  align-items: center;
  left: 35%;
  transform: translate(-50%);
  filter: drop-shadow(100px 100px rgb(74, 74, 74, 0.7));
  animation: mainanimation 1s ease-in-out;
}
.textvid {
  position: absolute;
  left: 75%;
  top: 33.9%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Poppins-ExtraBold;
  filter: drop-shadow(0.001px 0.001px rgb(74, 74, 74, 0.7));
  animation: mainanimation 1s ease-in-out;
}

.parentvid {
  width: 80%;
}

.videop {
  display: inline-block;
  margin: 0 auto;
}

.Available {
  font-family: Poppins-Thin;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation: mainanimation 1s ease-in-out;
}

.app {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 550px;
  height: 100px;
  cursor: pointer;
}

.terms {
  cursor: pointer;
  margin-left: 25px;
  font-family: Poppins-Black;
  color: white;
}
.terms1 {
  margin-left: 25px;
  font-family: Poppins-Black;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  margin-bottom: 11px;
  /* left: 90%;
  transform: translate(-90%); */
  left: 90%;
  width: auto;
  right: 0px;
}

.footerlabel {
  font-family: Poppins-Medium;
  color: white;
}

.footerinput {
  width: auto;
}

.phoneimg {
  display: block;
  margin: 0 auto;
  height: 700px;
  filter: drop-shadow(10px 10px #9e9ea0);
  animation: mainanimation 1s ease-in-out;
}

.screen {
  position: absolute;
  background: #3e3e3e;
  border-radius: 15px;
  width: 25%;
  bottom: 25px;
  right: 25px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
  margin: 3px;
}
.screen-header-button.close:hover {
  background: #cd155f;
  cursor: pointer;
}

.screen-header-button.maximize {
  background: #e8e925;
  margin: 3px;
}
.screen-header-button.maximize:hover {
  background: #cbcb1f;
  cursor: pointer;
}

.screen-header-button.minimize {
  background: #74c54f;
  margin: 3px;
}

.screen-header-button.minimize:hover {
  background: #5e9e40;
  cursor: pointer;
}

.screen-header-right {
  display: flex;
}

.screen-header-right:hover {
  cursor: pointer;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.facebook:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.instagram:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.linkedin:hover {
  filter: drop-shadow(1px 1px #c8c8c8);
  cursor: pointer;
}

.facebook:active {
  transform: translate(1px, 1px);
}

.instagram:active {
  transform: translate(1px, 1px);
}

.linkedin:active {
  transform: translate(1px, 1px);
}

.home-footer {
  width: 100%;
  height: 25vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0%;
  background-color: rgb(74, 74, 74);
}
