/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 99999 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.loaderwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader {
  border: 16px solid #f3f3f3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.end {
  display: none;
}

.loaderwrapper h2 {
  position: absolute;
  left: 50%;
  color: #f3f3f3;
  text-align: center;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  background-color: rgb(86, 86, 86);
  width: 400px;
}

.loaderwrapper h2:before {
  content: "Hashing Passwords...";
  -webkit-animation: head 6s ease-out forwards;
  -moz-animation: head 6s ease-out forwards;
  -o-animation: head 6s ease-out forwards;
  animation: head 6s ease-out forwards;
}

@-webkit-keyframes head {
  0% {
    content: "Hashing Passwords...";
  }
  20% {
    content: "Checking for Validity";
  }
  40% {
    content: "Proccessing data";
  }
  61% {
    content: "Hashing Bank Credentials...";
  }
  100% {
    content: "Hashing Bank Credentials...";
  }
}

@-moz-keyframes head {
  0% {
    content: "Hashing Passwords...";
  }
  20% {
    content: "Checking for Validity";
  }
  40% {
    content: "Proccessing data";
  }
  61% {
    content: "Hashing Bank Credentials...";
  }
  100% {
    content: "Hashing Bank Credentials...";
  }
}

@-o-keyframes head {
  0% {
    content: "Hashing Passwords...";
  }
  20% {
    content: "Checking for Validity";
  }
  40% {
    content: "Proccessing data";
  }
  61% {
    content: "Hashing Bank Credentials...";
  }
  100% {
    content: "Hashing Bank Credentials...";
  }
}

@keyframes head {
  0% {
    content: "Hashing Passwords...";
  }
  20% {
    content: "Checking for Validity";
  }
  40% {
    content: "Proccessing data";
  }
  61% {
    content: "Hashing Bank Credentials...";
  }
  100% {
    content: "Hashing Bank Credentials...";
  }
}
