/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.titleQR {
  font-size: 50px;
  text-align: center;
}

.QRCode {
  width: 256px;
  height: 256px;
}

@media screen and (max-width: 570px) {
  .titleQR {
    font-size: 40px;
  }

  .QRCode {
    width: 128px;
    height: 128px;
  }

  .sendtxtext {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .sendbtnbutton {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .sendwrngwrong {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@media screen and (max-width: 512px) {
  .sendtxtext {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 436px) {
  .titleQR {
    font-size: 30px;
  }
}

@media screen and (max-width: 661px) {
  .QRCODE input {
    width: 100% !important;
  }
}
