@import "fonts.css";

.Hheading1 {
  display: flex;
  font-family: Poppins-Light;
  color: white;
  justify-content: center;
  cursor: pointer;
  flex: 0.2;
}

.Hheading2 {
  display: flex;
  font-family: Poppins-Light;
  color: white;

  cursor: pointer;
  flex: 1;
  float: left;
  justify-content: flex-end;
}

.logoimg,
.logoimg2 {
  display: flex;
  font-family: Poppins-SemiBold;
  color: white;

  cursor: pointer;
  flex: 1;
  float: left;
  justify-content: flex-start;
}

.Hheading span:hover,
.Hheading1 span:hover,
.Hheading2 span:hover {
  color: rgb(183, 183, 183);
}

.Hheading,
.Hheading1,
.Hheading2 {
  width: auto;
  height: auto;
  cursor: pointer;
}

.Home-Header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(74, 74, 74);
  position: fixed;
  padding-top: 0px;
  justify-content: space-between;
  z-index: 3;
}

.HH {
  display: flex;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(74, 74, 74);
  z-index: 3;
}

.logoimg2 {
  display: none;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
.shop {
  margin: 0;
  padding: 0;
}

/* The Masonry Container */
.gridlist {
  /* width: 1500px;
  margin: 0 auto;
  columns: 4;
  column-gap: 40px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; */
  padding: 1em;
  column-count: 6;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin: 0 auto;
}

.gridlist .card {
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0 auto;
  display: inline-block;
}

.gridlist MediaCard {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.MediaCard {
  width: 100%;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 2178px) {
  .gridlist {
    column-count: 5;
  }
}
@media (max-width: 1824px) {
  .gridlist {
    column-count: 4;
  }
}
@media (max-width: 1462px) {
  .gridlist {
    column-count: 3;
  }
}

@media (max-width: 1100px) {
  .gridlist {
    column-count: 2;
  }
}
@media (max-width: 736px) {
  .gridlist {
    column-count: 1;
  }
  .search {
    width: 190%;
    margin: unset;
  }
}

.search {
  width: 25%;
  margin: auto;
}

.searchBar {
  z-index: 0;
  width: 100%;
}
.end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Poppins-Regular;
}

@media screen and (max-width: 1483px) {
  .Hheading1 {
    flex: 0.5;
  }
}

@media screen and (max-width: 1034px) {
  .logoimg2 {
    display: flex;
    font-family: Poppins-SemiBold;
    color: white;

    cursor: pointer;
    flex: 1;
    float: left;
    justify-content: flex-start;

    transform: scale(0.7);
  }

  .logoimg {
    display: none;
  }
}
@media screen and (max-width: 694px) {
  .Hheading2,
  .Hheading1 {
    display: none;
  }

  .Hheading {
    display: flex;
    font-family: Poppins-Light;
    color: white;

    cursor: pointer;
    flex: 1;
    float: left;
    justify-content: flex-start;
  }
}

* {
  outline: none;
}

.filter {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: large;
  align-items: center;
  width: 600px;
  position: absolute;
  left: 50%;

  transform: translate(-50%);
}
.filter1 {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: large;
  align-items: center;
  width: 500px;
}

.donate {
  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -1%);
  text-align: center;
  background-color: rgb(183, 221, 255);
  padding: 0px 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.donate:hover {
  background-color: rgb(122, 191, 255);
}

.donate:active {
  background-color: rgb(82, 172, 255);
}

.donate h3 {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.searchSubmit:hover {
  width: 101.0048745823742482784032483029423747237482374893247324748932647694236%;
}
.searchSubmit {
  z-index: 0;
}

.searchBar:hover,
.searchBar:focus {
  width: 101.0408745823742482784032483029423747237482374893247324748932647694236%;
}
